@import "../../styles/variabiles.scss";

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $clr__DarkBlue;
  padding: 1rem;

  &__theme {
    display: flex;
  }
}
