@import "./styles/variabiles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background: $clr__VeryDarkBlue__bg;
  color: $clr__VeryLightGray;
}

input,
button,
select {
  font: inherit;
  border: none;
  outline: none;
}

::placeholder {
  color: $clr__White;
  padding-left: 0.2rem;
}
